<head>
    <meta charset="UTF-8" />
    <title>Xmas Dinner</title>
    <style>
        nav {
        text align: center;
    color: white;
}
header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
   color: white;
}
h2{
    text-align: Center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
body{
    justify-content: center;
    align-items: center;
    background-image: url(images/bground2.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
img{
    justify-content: center;
    text-align: center;
    align-items: center;
}
ul,ol, h3{
    color:white;
}
a{
    color:White;
}
    </style>>

  </head>