<nav>
    <a href="/">Home</a>
    <a href="/turkey">Turkey</a>
    <a href="/roastPotatoes">Roast Potatoes</a>
    <a href="/carrots">Carrots and Parsnips</a>
    <a href="/pigs">Pigs in Blankets</a>
    <a href="/cauliflower">Caulliflower Cheese</a>
    <a href="/ham">Ham</a>
    <a href="/brussels">Brussels Sprouts</a>
    <a href="/gravy">Gravy</a>
    <a href="/yorkshire">Yorkshire Pudding</a>


</nav>