<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <header>My Ultimate Christmas Dinner</header>
    <%- include('./partials/nav.ejs') %>
<h2>Roast Carrots and Parsnips</h2>
<p>Roast carrots and parsnips, adorned with caramelized edges and a succulent interior, are indispensable additions to the Christmas dinner tableau. Beyond their vibrant hues that amplify the festive ambiance, these root vegetables offer a sweet, earthy essence that complements the savory richness of traditional holiday fare. Roasting enhances their natural sugars, creating a harmonious balance with savory dishes like roasted meats. Texturally, the crisp exterior yields to a tender, melt-in-your-mouth core, adding a delightful contrast to the festive feast. Moreover, their simplicity in preparation aligns seamlessly with the joyous chaos of Christmas, ensuring a delicious and wholesome contribution to the celebratory spread.</p>
<img src="images/roasted-carrots-recipe-17-500x500.jpg" attribute="Raw brussels sprouts" Height="300"Width="400">
<p>To make these roast carrots and parsnips, simply peel the veg and cut down to a size you want. Not too small or they could over cook. Lay them on a tray coating with salt, pepper, honey and thyme. ROast in an oven at 200 degrees for 30 minutes.</p>
<img src="images/Honey-Garlic-Roast-Parsnips-8-Edit.jpg" attribute="Raw brussels sprouts" Height="300"Width="400">

  </body>
</html>