<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <header>My Ultimate Christmas Dinner</header>
    <%- include('./partials/nav.ejs') %>
<h2>Ham - the ultimate second meat</h2>
<p>
  A Christmas dinner without ham alongside turkey is a culinary symphony missing a crucial note. Ham's smoky succulence, juxtaposed against the turkey's lean tenderness, creates a duet of flavors that transforms the festive meal into a gastronomic masterpiece. The sweet and savory profile of glazed ham, with its caramelized exterior, offers a delectable contrast to the traditional roast turkey. This dynamic duo not only caters to diverse palates but also ensures a visually enticing table, laden with choices. Ham's effortless versatility and ability to complement the centerpiece turkey make it an indispensable co-star, elevating the holiday feast to a multi-dimensional, indulgent celebration of flavors.</p>
  <img src="images/raw-ham.jpg" attribute="Raw brussels sprouts" Height="300"Width="400">
<h2>Ingredients</h2>
<ul>
  <li>1.5 kg (3.3 lbs) bone-in gammon joint</li>
  <li>1 onion, peeled and halved</li>
  <li>2 liters (8 cups) Coca-Cola</li>
  <li>1 cinnamon stick</li>
  <li>1 star anise</li>
  <li>1 teaspoon whole cloves</li>
  <li>200g (1 cup) light brown sugar</li>
  <li>2 tablespoons Dijon mustard</li>
  <li>Zest and juice of 1 orange</li>
  <li>2 tablespoons malt vinegar</li>
  </ul>
<h2>Method</h2>
<ol>
  <li>Place the gammon joint in a large pot, add the onion, and pour in enough Coca-Cola to cover the meat. Bring to a boil, then reduce the heat and simmer for 1 hour.</li>
  <li>Preheat the oven to 180°C (160°C fan or Gas Mark 4).</li>
  <li>Remove the gammon from the pot, discarding the cooking liquid and onion. Score the fat in a diamond pattern.</li>
  <li>In a small saucepan, combine the remaining Coca-Cola, brown sugar, mustard, cinnamon stick, star anise, whole cloves, orange zest, orange juice, and malt vinegar. Simmer over medium heat for 15-20 minutes, or until the mixture thickens into a glossy glaze.</li>
  <li>Place the gammon in a roasting pan and pour half of the glaze over the top, making sure to get it into the scored lines.</li>
  <li>Roast the gammon in the preheated oven for about 30 minutes, basting with the remaining glaze every 10 minutes.</li>
  <li>Once the gammon is caramelized and golden, remove it from the oven. Allow it to rest for a few minutes before slicing.</li>
</ol>
<img src="images/Honey-baked-ham.jpg" attribute="Raw brussels sprouts" Height="300"Width="400">
  </body>
</html>