<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <header>My Ultimate Christmas Dinner</header>
  <%- include('./partials/nav.ejs') %>
    <img src="images/budget_christmas_dinner_51479_16x9.jpg" attribute="Full Roast Dinner">
    <h2>My Ultimate Christmas Dinner!</h2>
    <p>
Creating the ultimate Christmas roast dinner is an art that involves careful planning, precise execution, and a touch of festive flair. At the heart of this culinary masterpiece is the centerpiece – a succulent turkey crown, perfectly roasted to golden perfection. Begin by generously seasoning the turkey with a blend of herbs like rosemary, thyme, and sage, creating a symphony of flavors that will tantalize taste buds.
<br>
To achieve that coveted crispy skin and juicy interior, baste the turkey with a luscious mixture of melted butter and aromatic garlic. As the turkey takes center stage in the oven, prepare an array of delectable trimmings. Roast potatoes, crisp on the outside and fluffy on the inside, are a must, along with honey-glazed carrots and parsnips that add a touch of sweetness to the savory ensemble.
<br>
For a burst of color and freshness, whip up Brussels sprouts sautéed with bacon and drizzled with a balsamic reduction. The stuffing, a harmonious blend of savory herbs, chestnuts, and breadcrumbs, complements the turkey perfectly. Complete the feast with rich, velvety gravy made from the flavorful pan drippings.
<br>
Garnish the table with festive touches – cranberry sauce, vibrant greens, and perhaps a sprinkle of pomegranate seeds for a burst of jewel-like color. As friends and family gather around, the aroma of the ultimate Christmas roast dinner will create lasting memories of joy and togetherness. </p>
<br>
<h2>My Essential parts for the Ultimate Christmas Dinner:</h2>
<ul>
  <li><a href="turkey.html">Turkey</a></li>
  <li><a href="roastPotatoes.html">Roast Potatoes</a></li>
  <li><a href="carrots.html">Carrots and Parsnips</a></li>
  <li> <a href="pigs.html">Pigs in Blankets</a></li>
  <li><a href="cauliflower.html">Caulliflower Cheese</a></li>
  <li><a href="ham.html">Ham</a></li>
  <li><a href="brussels.html">Brussels Sprouts</a></li>
  <li><a href="gravy.html">Gravy</a></li>
  <li><a href="yorkshire.html">Yorkshire Pudding</a></li>

</ul>
  </body>
</html>