<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <header>My Ultimate Christmas Dinner</header>
    <%- include('./partials/nav.ejs') %>
    <h2>Pigs in Blankets</h2>
<p>
  Pigs in blankets emerge as the undisputed heroes of Christmas dinner, encapsulating the spirit of festive indulgence in a single, bite-sized delight. These miniature marvels, succulent sausages swathed in crisp bacon blankets, transcend their modest size to deliver an explosion of savory ecstasy. Their rich, smoky flavor perfectly complements the traditional turkey or ham, adding depth to every forkful. Pigs in blankets not only contribute a satisfying crunch but also serve as edible bridges, uniting diverse tastes on the festive plate. Symbolizing joyous excess and culinary nostalgia, these miniature treasures embody the essence of Christmas feasting, making them an irreplaceable cornerstone of the holiday banquet.</p>
  <img src="images/shutterstock_1561746379.jpg" attribute="Raw brussels sprouts" Height="300"Width="400">
  <p>Pigs in blankets are so easy to make so don't bother buying shop bought ones. Buy the best chipolatas and smoked streaky bacon that your budget allows. Simply wrap the chipolatas in the streaky bacon, place on a baking tray and put in the over at 200 degrees for 30 minutes.</p>
  </body>
</html>