<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header>My Ultimate Christmas Dinner</header>
    <%- include('./partials/nav.ejs') %>
    <h2>The Humble Roast Potato</h2>
    <p>
      The humble roast potato, a cornerstone of any exceptional roast dinner, holds profound importance in culinary traditions and gastronomic delight. Beyond its crispy, golden exterior lies a soft, fluffy interior that perfectly complements the savory richness of a roast. A well-prepared roast potato enhances the overall texture and taste of the meal, providing a satisfying contrast to the main dish. Its ability to absorb flavors from herbs and seasonings makes it a versatile side that elevates the dining experience. Symbolizing comfort and indulgence, a good roast potato contributes to the symphony of flavors, turning a simple meal into a culinary celebration.</p>
    <img src="images/potatosraw.jpeg" attribute="Raw Potatoes">
    <h2>Ultimate Goose Fat Roast Potatoes</h2>
   <h3>Ingredients</h3>
    <ul>
      <li>2 kg (about 4.4 pounds) potatoes (such as Maris Piper or King Edward), peeled and cut into even-sized chunks</li>
      <li>150 g (2/3 cup) goose fat</li>
      <li>2 teaspoons coarse sea salt</li>
      <li>Freshly ground black pepper, to taste</li>
      <li>Optional: Fresh rosemary or thyme sprigs or garlic for added flavor</li>
    </ul>
<h3>Method</h3>
<ol>
  <li>Preheat the oven to 200°C (400°F).</li>
  <li>Place the peeled and cut potatoes in a large pot of cold, salted water. Bring to a boil and simmer for about 8-10 minutes until the edges of the potatoes are slightly softened. Drain well.</li>
  <li>Heat the goose fat in a roasting pan in the preheated oven for a few minutes until melted and hot.</li>
  <li>Carefully add the parboiled potatoes to the hot goose fat, turning them to coat evenly. Be cautious to avoid splattering.</li>
    <li>Sprinkle the potatoes with coarse sea salt and freshly ground black pepper. Add fresh rosemary or thyme sprigs for added flavor if desired.</li>
    <li>Roast the potatoes in the oven for 45-60 minutes or until they are golden and crispy. Turn them occasionally to ensure even browning.</li>
    </ol>
    <img src="images/roast-potatoes-main-7b0e23a.jpg" attribute="Roasted Potatoes">
  </body>
</html>