<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
  <body>
    <header>My Ultimate Christmas Dinner</header>
    <%- include('./partials/nav.ejs') %>
    <h2>Yorkshire Pudding - contorversial but essential!</h2>
    <p>Yorkshire Puddings, though subject to culinary debate, assert their indispensability on the Christmas dinner table with unparalleled charm. This golden-brown, airy marvel, traditionally reserved for Sunday roasts, transcends its weekly routine to become a festive must-have. The controversy arises from its association with the classic Sunday roast, yet its ability to soak up the rich gravies and festive flavors renders it a seamless companion to succulent turkey or roast beef.<br>

      Christmas, with its culinary extravagance, demands a canvas to showcase the symphony of tastes on the plate, and Yorkshire Puddings provide precisely that. Their crispy exterior and tender, doughy interior create a textural sensation that elevates each bite. Furthermore, their cup-like structure serves as a vessel for pooling flavorful juices, enhancing the overall taste experience.<br>
      
      Yorkshire Puddings are not just an accompaniment; they're a culinary ode to tradition, infusing the holiday spread with a touch of British heritage. The controversy surrounding their inclusion adds a touch of intrigue to the feast, sparking spirited discussions around the dinner table. In the end, their inclusion is not just about tradition but about crafting a Christmas meal that embodies the richness and diversity of festive culinary delights. They are, without a doubt, an essential and deliciously controversial component of the Christmas dinner experience.</p>
      <img src="images/recipe-image-legacy-id-901451_9-687c42b.webp" attribute="Raw brussels sprouts" Height="300"Width="400">
      <h2>Ingredients</h2>
      <ul>
        <li>140g plain flour (this is about 200ml/7fl oz)</li>
        <li>4 eggs (200ml/7fl oz)</li>
        <li>200ml milk</li>
        <li>pinch of salt</li>
        <li>sunflower oil, for cooking</li>
      </ul>
<h2>Method</h2>
<ol>
  <li>Heat oven to 230C/fan 210C/gas 8.</li>
  <li>Drizzle a little sunflower oil evenly into two 4-hole Yorkshire pudding tins or two 12-hole non-stick muffin tins and place in the oven to heat through.</li>
  <li>To make the batter, tip 140g plain flour into a bowl and beat in 4 eggs until smooth.</li>
  <li>Gradually add 200ml milk and carry on beating until the mix is completely lump-free. Season with salt and pepper.</li>
  <li>Pour the batter into a jug, then remove the hot tins from the oven. Carefully and evenly pour the batter into the holes.</li>
  <li>Place the tins back in the oven and leave undisturbed for 20-25 mins until the puddings have puffed up and browned.</li>
</ol>
  </body>
</html>